<!doctype html>
<html lang="fr">
	<!--
	OSM Data Integrator

	Other documentations:
	Using files from web applications
	https://developer.mozilla.org/en-US/docs/Using_files_from_web_applications
	Leaflet
	http://leafletjs.com
	Bootstrap
	http://twitter.github.com/bootstrap
	JQuery UI
	http://jqueryui.com
	-->
	<head>
		<title>Osm Data Integrator</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link href="libs/jquery-ui/smoothness/jquery-ui-1.10.1.custom.css" rel="stylesheet"/>
		<link href="libs/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="libs/leaflet/leaflet.css" rel="stylesheet" media="screen"/>

		<link href="libs/fontawesome-free-5.15.3-web/css/fontawesome.min.css" rel="stylesheet" />
		<link href="libs/fontawesome-free-5.15.3-web/css/solid.min.css" rel="stylesheet" />

		<script src="libs/jquery-1.9.1.min.js"></script>
		<script src="libs/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
		<script src="libs/bootstrap/bootstrap.min.js"></script>

		<script src="libs/leaflet/leaflet.js" ></script>

		<script src="libs/leaflet-hash-0.2.1.js"></script>
		<script src="libs/Leaflet.Control.Custom.js" ></script>

		<link href="libs/Leaflet.contextmenu-1.5.1/dist/leaflet.contextmenu.min.css" rel="stylesheet" />
		<script src="libs/Leaflet.contextmenu-1.5.1/dist/leaflet.contextmenu.min.js" ></script>
		
		<link href="libs/leaflet.MarkerCluster/MarkerCluster.css" rel="stylesheet"/>
		<link href="libs/leaflet.MarkerCluster/MarkerCluster.Default.css" rel="stylesheet"/>
		<script src="libs/leaflet.MarkerCluster/leaflet.markercluster.js" ></script>

		<link href="libs/Leaflet.toolbar-0.3.0/dist/leaflet.toolbar.min.css" rel="stylesheet"/>
		<script src="libs/Leaflet.toolbar-0.3.0/dist/leaflet.toolbar.min.js"></script>

		<link href="libs/leaflet.mouseCoordinate/leaflet.mousecoordinate.css" rel="stylesheet"/>
		<script src="libs/leaflet.mouseCoordinate/leaflet.mousecoordinate.min.js"></script>

		<link href="libs/leaflet-control-osm-geocoder/Control.OSMGeocoder.css" rel="stylesheet"/>
		<script src="libs/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>

		<script src="libs/ucsv-1.1.0-min.js" ></script>
		<script src="libs/misc.js"></script>
		<script src="libs/GeoJsonNoVanish.js"></script>
		<script src="libs/OSM4Leaflet.js"></script>

		<link href="app/css/osmDataIntegrator.css" rel="stylesheet"/>
		<script src="app/osm-data-integrator.js" ></script>

		<script>

			$(function()
			{
				$('#tabs').tabs();
			});
		</script>
	</head>
	<body>
		<div id="content">
			<div id="header">
				<h1>OSM Data Integrator <span style="font-size: small">
					<a href="https://framagit.org/Cyrille37/osm-data-integrator" target="_blank">source code</a></span>
				</h1>	
			</div>

			<div id="tabs">
				<!--
					http://api.jqueryui.com/tabs/
				-->
				<ul>
					<li><a href="#tab-data">Données</a></li>
					<li><a href="#tab-map">Carte</a></li>
				</ul>
				<!--
					=== TAB DATA ===
				-->
				<div id="tab-data">
					<div class="container-fluid">
						<div class="row">
							<div class="span6">
								<form class="form-horizontal">
									<i class="fas fa-file-upload tab-data-file" style="font-size:24px; vertical-align: middle;"></i>
									<input type="file" id="tab-data-file" name="tab-data-file" accept="text/csv" />
									<dl id="tab-data-fileinfo" class="dl-horizontal">
									</dl>
									<dl id="tab-data-datafieldsassoc" class="dl-horizontal">
									</dl>
								</form>			
							</div>
							<div class="span6">
								<p>Search</p>
								<p class="muted">
									An <strong><a href="https://wiki.openstreetmap.org/wiki/Overpass_API/Overpass_QL" target="_blank">OverPass-QL</a></strong> query
									with column value replacement with <strong>{{column name}}</strong> variable template.<br/>
									Only write the query part, without settings and output directives.
								</p>
								<form>
									<textarea id="odi-searchQuery" class="input-block-level" rows="6"></textarea>
									Distance <input id="odi-searchDistance" type="number" />
									<br/>
									Overpass server:
									<select id="odi-oapiUrl">
										<option value="https://overpass-api.de/api/interpreter">overpass-api.de</option>
										<option value="https://overpass.openstreetmap.ru/api/interpreter">openstreetmap.ru</option>
										<option value="https://overpass.openstreetmap.fr/api/interpreter">openstreetmap.fr</option>
										<option value="https://overpass.osm.ch/api/interpreter">osm.ch</option>
										<option value="https://overpass.kumi.systems/api/interpreter">kumi.systems</option>
										<option value="https://overpass.nchc.org.tw/api/interpreter">nchc.org.tw</option>
									</select>
									<br/>
									<button type="button" onclick="alert( odi.queryReplaceVariables($('#tab-data-search').val(),0) );" >show with 1st row</button>
								</form>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<button id="tab-data-filter-without-coord" type="button" class="btn" data-toggle="button" >Show only without geo coord</button>
								<table id="tab-data-grid" class="table table-bordered table-condensed table-hover">
									<!--
										table-striped: conflict with ODI features
									-->
									<thead></thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
					<script>
						"use strict";
						$(function()
						{

							$('#tab-data-file').change( function(evt)
							{
								$('.fa-refresh.tab-data-file').addClass('fa-spin');

								// File object
								var f = evt.target.files[0];
								// display some file's info
								//console.log( 'name: '+f.name+', type: '+f.type +', size: '+f.size+', '+f.lastModifiedDate);
								$('#tab-data-fileinfo').html(''
									+'<dt>file name</dt><dd>'+f.name+'</dd>'
									+'<dt>file size</dt><dd>'+f.size+' octets</dd>'
								);

								// load data from file

								var reader = new FileReader();
								reader.onload = function(evt)
								{
									console.debug('Loading file: "'+f.name+'"');

									odi.loadDataCSV( f.name, evt.target.result, 'tab-data-datafieldsassoc');

									var lsData = odi.localStorage.getData();
									$('#tab-data-fileinfo').append(
										'<dt>local settings</dt>'
										+'<dd>' + ( lsData != null 
											? 'yes '
												+'<span class="odi_resetSettings_btn btn" >clear</span>'
												+'<span class="odi_dumpSettings_btn btn" >dump</span>'
											: 'no'
											)
										+'</dd>'
									)
									.on( "click",".odi_resetSettings_btn", function(evt)
									{
										if( confirm('Confirm forget local settings ?') )
											odi.localStorage.forget();
									})
									.on( "click",".odi_dumpSettings_btn", function(evt)
									{
										var lsData = odi.localStorage.getData();
										console.info( 'localStorage: ' );
										console.info( lsData );
										console.info( 'localStorage as Json string: ' );
										console.info( JSON.stringify(lsData) );
										console.info( 'localStorage a Json escaped string: ' );
										console.info( JSON.stringify(lsData).replace( new RegExp('"','g'), '\\"') );
										alert('Data dumped in console, as Json and as String ');
									});

									$('.fa-refresh.tab-data-file').removeClass('fa-spin');
								};
								reader.readAsText(f);

							});

						});

					</script>
				</div>
				<!--
					=== TAB MAP ===
				-->
				<div id="tab-map">
					<div id="map"></div>
					<script>
						"use strict";

						$(function()
						{
							// http://api.jqueryui.com/tabs/#event-beforeActivate
							/*$('#tabs').on('tabsbeforeactivate', function( event, ui ) {
								switch(ui.newPanel[0].id)
								{
									case 'tab-map':
										if( map != null ){
											mapRefresh();
										}
										else{
											mapCreate();
										}
										break;
								}
							});*/

							$('#tabs').on('tabsactivate', function( event, ui )
							{
								switch(ui.newPanel[0].id)
								{
									case 'tab-map':
										odi.mapRefresh();
										break;
								}
							});

						});

					</script>
				</div>
			</div>
		</div>
		<div id="popupTemplate" style="display: none">
			<div>
				<strong class="text-success odi_pt_title">...Label column is not defined...</strong>
				<dl class="odi_pt_row dl-horizontal"></dl>
			</div>
			<div>
				<div class="input-append">
					<input class="odi_pt_distance input-small" type="text" value="1" />
					<span class="add-on">M</span>
				</div>
				<span class="odi_search_btn btn" title="Search in OSM with OverPass">
					<i class="fas fa-search loader"></i> osm
				</span>
				<span class="odi_josm_btn btn" tile="Edit with JOSM">
					<i class="fas fa-edit"></i> in josm
				</span>	
			</div>			
			<div>
				<span class="odi_todo_btn btn" ><i class="fas fa-map-marker-alt poi-undone"></i> todo</span>
				<span class="odi_done_btn btn" ><i class="fas fa-map-marker-alt poi-done"></i> done</span>
				<span class="odi_aborted_btn btn" ><i class="fas fa-map-marker-alt poi-aborted"></i> aborted</span>	
			</div>
		</div>

		<div id="multiResultDialog" title="Search results" style="display: none">
			Search results in <span class="odi_mrd_distance">x</span> meters.
			<p class="title"></p>
			<table class="table table-striped table-bordered table-condensed">
				<thead></thead>
				<tbody></tbody>
			</table>
		</div>

	</body>
</html>
