/* 
    Document   : osmDataIntegrator
    Created on : 25 févr. 2013, 17:55:52
    Author     : cyrille
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    height: 100vh;
    width: 100vw;
}
#content {
	min-height: 100vh;
	flex-direction: column;
	display: flex;
}
#header h1 {
	font-size: 22px;
	line-height: 26px;
	margin: 0 ;
	margin-left: 6px;
	margin-top: 2px;
}

#tabs {
	flex: 1;
	flex-basis: 100%;
	flex-direction: column;
	display: flex;
}
#tabs.ui-tabs {
	padding: 0;
}
#tabs .ui-tabs-nav {
	padding-top: 0;
}
#tab-data {
	display: flex;
	flex: 1;
	flex-basis: 100%;
}
#tab-map {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	flex-direction: column;
	padding: 0;
}
#map {
	display: flex;
	flex: 1;
	flex-basis: 100%;
/*	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
}

select, input[type="file"]{
	height: auto;
}

#tab-data table.table-hover tbody tr:hover > td {
    background-color: #a5a5f5;
}
#tab-data .table tbody tr.error > td {
    background-color: #ff9e9e;;
}

/*
=== ODI POI POPUP
*/

.leaflet-map-pane .leaflet-popup {
	width: 400px;
}
.leaflet-map-pane .leaflet-popup .leaflet-popup-content {
	width: auto !important;
}

.ui-widget-content a {
	color: #005580;
	text-decoration: underline;
}
.ui-widget-content a:hover {
	color: #0387c9;
}
.leaflet-popup-content h3 {
	font-size: 13px;
	line-height: 14px;
}
.leaflet-popup-content h4 {
	margin: 6px 0;
}

.leaflet-control-layers-toggle {
	background-image: url(../../img/layers.png);
}
.leaflet-control-zoom a {
	text-decoration: none;
}

/*
.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
	width: 15px;
	height: 15px;
}
*/
ul.leaflet-control-toolbar {
	margin: 0;
}
.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
	font-size: 12px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

#map_stats {
    border: 3px double #ccc;
	margin: 3px;
	padding: 3px;
	/*cursor: normal;*/
	background-color: white;
	font-size: 12px;
    font-weight: normal;
}
#map_stats p {
	margin: 0;
}
#map_stats dl {
	margin: 0;
    padding: 0.5em;
}
#map_stats dt {
	float: left;
	clear: left;
	width: 52px;
	text-align: right;
}
#map_stats dt::after {
	content: ":";
}
#map_stats dd {
	margin: 0 0 0 56px;
	padding: 0 0 0 0;
}

.poi-undone {
	color: #207ac9;
}
.poi-undone-bg {
	background-color:white;
}
.poi-done {
	color: #00ae00;
}
.poi-done-bg {
	background-color: #cff4cf;
}
.poi-aborted {
	color: #d1b4d2;
}
.poi-aborted-bg {
	background-color: #feddff;
}

#popupTemplate .dl-horizontal {
	border: 3px double #ccc;
	max-height: 240px;
	overflow: auto;
	margin-bottom: 0.25em;
}
#popupTemplate .dl-horizontal dt {
	max-width: 40%;
	text-align: right;
	font-weight: bold;
	color: green;
	border-bottom: #ccc 1px solid ;
	margin-right: 4px;
}
#popupTemplate dl.odi_pt_row dt:after {
	content: ":";
}
#popupTemplate dl.odi_pt_row dd {
	text-align: left;
	border-bottom: #ccc 1px solid ;
	margin-left: 0;
}

#popupTemplate .odi_search_btn {
	vertical-align: top;
}
#popupTemplate .odi_josm_btn {
	vertical-align: top;
}
